table {
font-family: Verdana, Arial, Helvetica, sans-serif;
width: 100%;

}
thead tr{
 border-bottom: 2px solid grey;   
}
th {

padding: 8px;
font-size: 16px;
}
td{

padding: 8px;
font-size: 14px;
}
tbody tr:nth-child(even) {
    background-color:#223E6A;
}

